@import './utils/mixins.scss';

.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 25px;

  .banner-image-home {
    width: 100%;
    max-width: 100%;
    border-radius: 25px;
    object-fit: cover;
    min-height: 111px;
    filter: brightness(40%);

    @media (max-width: map-get($breakpoints, medium)) {
      border-radius: 10px;
    }
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 68, 45px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    transform: translate(-50%, -50%);

    @media (max-width: map-get($breakpoints, large)) {
      font-size: 24px;
      text-align: left;
    }

    @media (max-width: map-get($breakpoints, medium)) {
      font-size: 20px;
    }

    @media (max-width: map-get($breakpoints, small)) {
      left: 105px;
    }
  }

  .text-responsive {
    @media (max-width: map-get($breakpoints, large)) {
      display: block;
    }
  }
}

.banner-image-about {
  width: 100%;
  max-width: 100%;
  border-radius: 25px;
  object-fit: cover;
  min-height: 111px;
  filter: brightness(60%);

  @media (max-width: map-get($breakpoints, medium)) {
    border-radius: 10px;
  }
}
